* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    width: 80vw;
    height: 80vh;
    background-color: blue;
    background-image: linear-gradient(to left, rgb(12, 85, 134), rgb(132, 181, 204));
    margin-top: 2rem;
    box-sizing: border-box;
    overflow: hidden;
}

table {
    width: 95%;
    background-color: rgb(240, 240, 240);
    border-collapse: collapse;
    border-radius: 10px;
    margin: 2rem;
}

th,
td {
    border: 1px solid rgb(134, 134, 134);
    text-align: center;
    padding: 5px 10px;
}

h1 {
    margin-top: 1rem;
    text-align: center;
}

i {
    cursor: pointer;
}

#edit {
    color: green;
}

#trash {
    color: red;
}

.email span {
    background-color: rgb(197, 197, 197);
}